.chatmain
 .chatmain__group-info
  %h2.chatmain__group-info__name
   info
   %ul.chatmain__group-info__name__menber
    Menber:
    %li
    masa
 .editbtn
  = link_to "#" do
   = "Edit"
 .message-list
 .form