* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.left-header {
  height: 100vh;
  width: 300px;
  .side-header{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  &__box {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 260px;
    line-height: 20px;
    font-weight: bold;
    &__name {
      font-size: 16px;
      color: #ffffff;
    }
      &__menu {
        display: flex;
        li {
          margin-left: 5px;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    a{
      text-decoration: none;
      color: #ffffff;
    }
    &--group {
      height: 91px;
      width: 260px;
      margin: 0px 20px;
      .group-name {
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      .group-message {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  &__header {
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__right-box {
      margin-top: 35px;
      &__groupname {
        font-size: 20px;
        color: #333333;
        padding-bottom: 15px;
      }
      &__menber-list {
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit-btn {
      width: 72px;
      right: 40px;
      margin-top: 28px;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #38aef0;
      font-size: 16px;
      color: #38aef0;
      cursor: pointer;
    }
  }
  &__messages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    &__messagebox {
      padding-bottom: 46px;
      &__upper {
        margin-bottom: 12px;
        display: flex;
        &__name {
          font-weight: bold;
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__lower {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    padding: 0 40px;
    align-items: center;
    .new-message {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .contents {
        height: 50px;
        width: 100%;
        display: flex;
        position: relative;
        &__text {
          width: 100%;
          height: 50px;
          padding: 0 10px;
        }
        &__picture {
          font-size: 15px;
          height: 50px;
          display: block;
          position: absolute;
          right: 10px;
          line-height: 50px;
          &__file {
            display: none;
          }
        }
      }
      .send {
        background-color: #38aef0;
        color: #fafafa;
        height: 50px;
        font-size: 16px;
        border: none;
        padding: 0 30px;
        margin-left: 15px;
      }
    }
  }
}
